body {
  background-color: #F5F5F5;
  color: #757575 ;
  font-family: "Roboto regular", Raleway;

}
/*--цвет основного текста #212121 --*/
/*--вторичный цвет текста #757575 --*/
/*--акцент #2196F3 --*/
/* цвет фона #F5F5F5 */
/* цвет вторичного фона #F5F4FA */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*---------HEADER----------*/
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-header{
    color: #000000;
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #212121;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #212121;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

/*---------HERO--------*/
.middle-text{
 color: #FFFFFF ;
 background-color: #2F303A; 
}
.hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

/*---------WORK--------*/
.work {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  background-color: #F5F4FA;
  color: #212121;
  
}
.team-list {
  height: calc(368 / 1170);
}
.team-workers {
  height: calc(368 / 1170);
}
/*-.workers-photo{
}-*/
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/*-------------------PAGE2-----------*/
.middle-btms {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #212121;
  width: 125px;
  height: calc(38 / 125);
  left: 593px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.middle-btms:hover,
.middle-btms:focus {
  background-color: blue;
}
/*---BOTTOM---*/
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-bottom{
    color: #000000;
}
.adress-name {
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.bottom-contact{
  background: #2F303A;
}
.bottom-mail {
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.bottom-tel {
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.bottom-tel:hover,
.bottom-tel:focus {
  color: #2196f3;
}
.bottom-mail:hover,
.bottom-mail:focus {
  color: #2196f3;
}
